.flip-card {
    width: 100%;
    height: 550px;
    perspective: 1000px;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card-inner_rotate {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    color: black;
}

strong {
    font-weight: 700;
}


/* Style the back side */

.flip-card-back {
    color: white;
    background-color: #BD1E51;
    transform: rotateY(180deg);
    transition: all 1s;
}

.flip-card-back:hover {
    box-shadow: 0 16px 32px 0 rgb(0, 0, 0, 0.6);
    cursor: pointer;
}

.flip-card-back_hader {
    width: 100%;
    background-color: white;
}

.flip-card-back_hader img {
    width: 100%;
    height: 200px;
    -o-object-fit: contain;
    object-fit: contain;
}

.flip-card-back_hader:hover {
    cursor: pointer;
}

.flip-card-back_card {
    padding: 8px;
}

.dashbord_product_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 1s;
    padding: 16px;
    border: 1px solid #e6e0e2;
    border-radius: 8px;
}

.dashbord_product_card_top {
    height: 40px;
}

.dashbord_product_card_hader img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    height: 200px;
    margin: 4px 0;
}

.dashbord_product_card:hover {
    box-shadow: 0 16px 32px 0 rgb(0, 0, 0, 0.6);
    cursor: pointer;
}

.flip-card-back_footer {
    text-align: center;
    box-shadow: 0 16px 32px 0 rgb(0, 0, 0, 0.6);
    padding: 8px;
}

.flip-card-back_submit_btn {
    display: block;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.6);
    text-align: center;
}

.d_btn {
    text-decoration: none;
    border: none;
    margin: 2px;
    color: white;
    background: #BD1E51;
    border-radius: 50%;
}

.d_btn i {
    font-size: 25px;
}

.d_btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.d_btn:focus {
    outline: none;
}