@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    position: relative;
}

.colors {
    color: #1A2C42;
    color: #BE2F29;
    color: #8a8378;
    color: #0C1115;
    /* text color*/
    color: #12151F;
    /* btn color*/
    color: #BD1E51;
}

html {
    scroll-behavior: smooth !important;
}


/* width */

::-webkit-scrollbar {
   
}


/* Track */

::-webkit-scrollbar-track {
   
}


/* Handle */

::-webkit-scrollbar-thumb {
   
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
   
}

.div-center {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}


/* Register page */

.avatar {
    width: 50px;
    height: 55px;
}

.my_btn {
    text-decoration: none;
    border: none;
    padding: 6px 35px;
    font-size: 18px;
    background: #BD1E51;
    color: white !important;
    border-radius: 20px;
    transition: transform 1s;
}

.my_btn:hover {
    transform: scale(1.05);
    color: white !important;
}

.my_btn:focus {
    outline: none;
}

.buttomBatton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width:60px;
    height:60px;
    z-index: 1000;
    border-radius: 50%;
    background-color: #f3b632;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.4);
    cursor: pointer;
    transition: transform 1s;
}


.buttomBatton:focus {
    outline: none;
}

.buttomBatton i {
    font-size: 40px;
    color: white;
}

.buttomBatton:hover i{
    transform:rotateY(180deg);
}


/* steps shape
#pointerActive {
    width: 200px;
    height: 40px;
    position: relative;
    background: #BD1E51;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 8px;
}

#pointerActive:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

#pointerActive:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #BD1E51;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

#pointerInActive {
    width: 200px;
    height: 40px;
    position: relative;
    background: grey;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding-top: 8px;
}

#pointerInActive:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

#pointerInActive:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid gray;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
} */

@media only screen and (max-width: 768px) {
    /* width */
     ::-webkit-scrollbar {
        height: 5px;
    }
}