<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget Password</title>

    <style>
      .container {
        width: 30%;
        margin: auto;
        height: 100vh;
      }

      .card {
        background-color: #bfc9ca;
        text-align: center;
        height: 400px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1>BD SHOP ECOMMARCE</h1>
        <h4>
          Someone requested that the password be reset for the following account
        </h4>
        <h4>
          If this was a mistake, just ignore this email and nothing will happen.
        </h4>
        <h3>Your OTP Code Is - {{userotpcode}}</h3>
      </div>
    </div>
  </body>
</html>
