.cart-loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
    .cart-image{
        width:400px;
        height:400px;
        img{
            width: 100%;
        }
    }
}