
.hero-slider-warpper{
    width: 100vw;
    height: 100vh;
    background-color: #f0e0ff;
    padding-top:100px;
    .carousel {
        width:100%;
        
        .hero-slider-info{
            z-index: 9;
            h3{
                font-size: 24px;
                font-weight: 500;
                margin: 0;
            }
            h1{
                font-size: 72px;
                line-height: 97px;
                margin: 6px 0 37px;
                color: #010101;
            }
            button{
                font-size: 16px;
                line-height: 1;
                display: inline-block;
                padding: 19px 50px 21px;
                text-transform: uppercase;
                color: #010101;
                border: 1px solid #333;
                &:hover{
                    color: #fff;
                    border: 1px solid #f3b632;
                    background: #f3b632;
                }
            }
        }

        .hero-slider-img{

        }

        .carousel-control-prev-icon{
            font-size:28px;
            color: #000 !important;
        }
        .carousel-control-next-icon{
            font-size:28px;
            color: #000 !important;
        }
    }
}