@import "../../scss/variables.scss";


// card
.card {
    box-shadow: 0 1px 3px #00000026;
    border-radius:0;
    margin-bottom: 20px;
}


.DraftEditor-root {
    background: #fff;
    border: 1px solid #ddd;
    cursor: text;
    padding: 6px;
    height:200px;
}


// new product section
.new-product{
    .top{
        display: flex;
        justify-content:space-between;
        align-items: center;
        margin: 12px 0;
        button.save-button{
            background-color:$theme-color;
            
            border: none;
            color: #fff;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            padding: 10px 30px;
            text-transform: uppercase;
            transition: all .3s ease 0s;
            &:hover{
                background-color: #f2f2f2;
                color:$theme-color;
                border:1px solid $theme-color;
            }
            &:focus{
                outline: none;
            }
        }
    }
    h1{
        font-weight: 600;
    }
    h3{
        font-weight: 500; 
    }
    .from-group{
        label.form-label{
            font-weight:400;
        }
     }
 
 .card-left{
    .product-images{
        button{
            background-color: #f2f2f2;
            border: none;
            color: #333;
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            padding: 11px 30px;
            text-transform: uppercase;
            transition: all .3s ease 0s;
            &:hover{
                background-color:$theme-color;
                color:#fff;
            }
            &:focus{
                outline: none;
            }
        }
    }

 }

}



  
