@import "../../scss/variables.scss";
#coupon{
  .coupon-top{
        display:flex;
        justify-content:space-between;
        align-items: center;
        margin:10px 0;
        .coupon-save-btn{
            border: none;
            padding:10px 30px;
            background:$theme-color;
            color:white;
            &:hover{
                background:#000;
                
            }
        }
  }
  .row{
    margin: 0;
    padding: 0;
  }
  .title{
    color: #000;
  }
  .form-control:focus{
   border: 1px solid #ccc;
    box-shadow:none;
  }
  label{
    color: #000;
   
  }
  input{
    border-radius: 0;
  }
}


// coupon list page style
#coupon-list{
  .coupon-list-top{
    margin:30px 0;
    border-bottom: 1px dotted #ccc;
  }
  .table{
    .table-head{
      background-color: #f2f2f2;
      text-align: center;
      
    }
    .table-body{
      text-align: center;
      tr{
        border-bottom: 1px dotted #ccc;
        padding: 6px 0;
        .percentage{
          background: #dcf1f2;
          color: #00585d;
          border-radius: 50rem;
          padding: 0.35em 0.9em;
        }
        .fixedAmount{
          background: #def2d0;
          color: #245900;
          border-radius: 50rem;
          padding: 0.35em 0.9em;
        }
      }
    }
  }
}