.cart{
    .cart-btn{
        border:none;
        cursor: pointer;
        padding:6px 6px;
        text-transform: uppercase;
        &:hover{
            background-color:#f3b632;
            color: #fff;
    }
    }
    .empty_cart {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .empty_cart_body img {
        width: 400px;
        height: 400px;
    }

    .table{
        .table-head{
            background-color: #f3b632;
        }
    }
    .qnt-btn{
        margin: 0 10px;
        &:hover{
            cursor: pointer;
            color: #f3b632;
        }
    }
    .cart-delete-btn{
        font-size: 30px;
        &:hover{
            cursor: pointer;
            color: #f3b632;
        }
    }

    .coupon_code {
        border: 1px solid #ededed;
        margin-top: 60px;
        p {
            font-size: 16px;
            line-height: 24px;
            color: #777c87;
            font-weight: 400;
            font-family: "Poppins",sans-serif;
        }
        h3 {
            color: #fff;
            line-height: 36px;
            padding: 5px 15px;
            background:#f3b632 ;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
        }
        .coupon_inner {
            padding: 10px 20px 25px;
            p {
                font-size: 13px;
                margin-bottom: 20px;
            }
            input {
                border: 1px solid #ededed;
                min-height: 38px;
                background: none;
                padding: 0 20px;
                margin-right: 20px;
                font-size: 12px;
                color: #333;
                width: 175px;
            }
            button{
                
                text-transform: uppercase;
                letter-spacing: 2px;
                display: inline-block;
                border-radius: 0;
                padding: 6px 16px;
                background-color: #000;
                color: #fff;
                &:hover{
                    background:#f3b632 ;
                    color:#000;
                    border: 1px solid #f3b632;
                }
            }
            a {
                display: block;
                text-align: right;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 20px;
                border-bottom: 1px solid #ededed;
                padding-bottom: 10px;
                border-radius: 3px;
                color:#000;
            }
        }

        
        .coupon_inner{
            .cart_subtotal {
                display: flex;
                justify-content: space-between;
                p {
                    font-weight: 600;
                    font-size: 14px;
                }
                .cart_amount {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .btn-black-overlay:hover {
                background-color: #262626;
                color: #fff;
            }
           
         }
        
    }
    
}
