.cart {
    .cart-btn {
        border: none;
        cursor: pointer;
        padding: 6px 6px;
        text-transform: uppercase;
        &:hover {
            background-color: #f3b632;
            color: #fff;
        }
    }
    .empty_cart {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .empty_cart_body img {
        width: 400px;
        height: 400px;
    }

    .table {
        .table-head {
            background: #f3b632;
            color: #fff;
            text-align: center;
        }
    }

    .table.product-table {
        border-collapse: collapse;
        tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
            text-align: center;
            tr {
                border-bottom: 1px solid #ededed;
            }
        }
        .product-image {
            width: 92px;
            height: 92px;
            object-fit: cover;
        }
    }

    .qnt-btn {
        margin: 0 10px;
        &:hover {
            cursor: pointer;
            color: #f3b632;
        }
    }
    .cart-delete-btn {
        font-size: 30px;
        &:hover {
            cursor: pointer;
            color: #f3b632;
        }
    }

    .coupon_code {
        border: 1px solid #ededed;
        margin-top: 60px;
        p {
            font-size: 16px;
            line-height: 24px;
            color: #777c87;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
        }
        h3 {
            color: #fff;
            line-height: 36px;
            padding: 5px 15px;
            background: #f3b632;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
        }
        .coupon_inner {
            padding: 10px 20px 25px;
            p {
                font-size: 13px;
                margin-bottom: 20px;
            }
            input {
                border: 1px solid #ededed;
                min-height: 38px;
                background: none;
                padding: 0 20px;
                margin-right: 20px;
                font-size: 12px;
                color: #333;
                width: 175px;
            }
            button {
                text-transform: uppercase;
                letter-spacing: 2px;
                border-radius: 0;
                padding: 6px 16px;
                background-color: #000;
                color: #fff;
                &:hover {
                    background: #f3b632;
                    color: #fff;
                    border: none;
                }
            }
            a {
                display: block;
                text-align: right;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 20px;
                border-bottom: 1px solid #ededed;
                padding-bottom: 10px;
                border-radius: 3px;
                color: #000;
            }
        }

        .coupon_inner {
            .cart_subtotal {
                display: flex;
                justify-content: space-between;
                p {
                    font-weight: 600;
                    font-size: 14px;
                }
                .cart_amount {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            .btn-black-overlay:hover {
                background-color: #262626;
                color: #fff;
            }
        }
    }
}

.checkout-steps {
    margin: 30px 0 !important;
    justify-content: center;
    /* steps shape */
    #pointerActive {
        width: 200px;
        height: 40px;
        position: relative;
        background: #f3b632;
        color: white;
        text-align: center;
        text-transform: uppercase;
        padding-top: 8px;
    }

    #pointerActive:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 20px solid white;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }

    #pointerActive:before {
        content: "";
        position: absolute;
        right: -20px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 20px solid #f3b632;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }

    #pointerInActive {
        width: 200px;
        height: 40px;
        position: relative;
        background: grey;
        color: white;
        text-align: center;
        text-transform: uppercase;
        padding-top: 8px;
    }

    #pointerInActive:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 20px solid white;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }

    #pointerInActive:before {
        content: "";
        position: absolute;
        right: -20px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 20px solid gray;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;
    }
}

.shipping {
    .shipping-btn {
        width: 100%;
        border: none;
        padding: 8px 0;
        background-color: #000;
        color: #fff;
    }
    .check-heading{
        margin: 8px 0;
        border-bottom:2px solid #f3b632;
    }
    .box-shadow {
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 7%);
        padding: 8px 10px;
    }

    table {
        border-collapse: collapse;
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
    }

    .order_review .table-responsive table thead {
        background: #f3b632;
        text-align: center;
        color: #fff;
    }
}

.order-success{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px 0;

    .box-shadow {
        box-shadow: 0 0 10px 0 rgb(0 0 0 / 7%);
        padding: 8px 10px;
    }
    .goback-btn button{
        margin: 6px;
        border: none;
        padding: 10px 20px;
        background-color: #000;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
    }
    .order-success-info{
        width: 50%;
        padding:10px;
        margin-top: 20px;
        .group-image{
            text-align: center;
            margin-bottom:15px;
            img{
                max-width: 100%;
                height:auto;
                
            }
        }

        .thankyou{
            text-align: center;
            margin-bottom:15px;
            img{
                max-width: 60px;
                height:60px;
                height:auto;
                object-fit: cover;
                margin-bottom: 10px;
            }
            h5{
                text-transform: uppercase;
            }
        }

        .messege,.tid{
            text-align: center;
        }

        .order-delivered{
            margin-top: 10px;
            text-align: center;
            
        }

        .order_review{
            margin-top: 20px;
            .check-heading{
                text-align: center;
                h3{
                    text-transform: uppercase;
                    margin: 10px 0;
                }
            }

            .table{
                border: 1px solid #ccc;
            }
        }

        .address{
            margin: 15px 0;
            h5{
                text-transform: uppercase;
            }
        }
    }
}
