.profile{
    margin:50px 0;
    .profile-nav{
        padding: 0;
        margin:0;
        ul{
            list-style: none;
            padding:0;
            margin:0;
            li{
                width:100%;
                border-bottom: 1px solid #e8e8e8;
                .profile-nav-active{
                    background-color: #f79837;
                    border-color: var(#f79837);
                    color: #fff;
                }
                a {
                    border: 1px solid #e8e8e8;
                    border-bottom: none;
                    color: #212121;
                    font-weight: 500;
                    font-size: 15px;
                    display: block;
                    padding: 18px 15px;
                    text-transform: uppercase;
                    &:hover {
                        background-color: #f79837;
                        border-color: var(#f79837);
                        color: #fff;
                    }
                }
            }
        }
    }

    .my-account {
        .my-account-top{
            display: flex;
            justify-content:space-between;
            margin:10px 0;
            h4{
                font-weight:400;
            }
            button{
                border: 1px solid #e8e8e8;
                background-color: #000;
                border-bottom: none;
                color: #fff;
                font-weight: 500;
                font-size: 15px;
                display: block;
                padding: 10px 8px;
                text-transform: uppercase;
                &:hover {
                    background-color: #f79837;
                    border-color: var(#f79837);
                    color: #fff;
                }
            }
        }
    }
}