.user_form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user_img img {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.register_img img {
    margin-left: 40px;
}