.title {
    color: grey;
    font-size: 18px;
}

.title span {
    background-color: rgb(104, 255, 205);
    color: rgb(17, 173, 121);
    padding: 8px 16px;
    border-radius: 50%;
}

.user-card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #BD1E51;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    margin-bottom: 0;
}

.user-card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

.table-theme {
    color: white;
    background-color: #BD1E51;
    box-shadow: 0px 4px 8px 0 rgb(0, 0, 0, 0.6);
}

.table-theme tr:hover {
    background-color: #e02c65;
}

.table_roal {
    text-align: center;
}

.table_roal span {
    background-color: rgb(104, 255, 205);
    color: rgb(17, 173, 121);
    padding: 8px;
    border-radius: 50%;
}

.table_action i {
    font-size: 20px;
}

.table_action:hover i {
    color: orange;
    cursor: pointer;
}