.title {
    color: grey;
    font-size: 18px;
}

.title span {
    background-color: rgb(104, 255, 205);
    color: rgb(17, 173, 121);
    padding: 8px 16px;
    border-radius: 50%;
}

.user-card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.user-card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}