.sort_container h6 {
    font-size: 20px;
}

.select {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    color: #1b059b;
    background-color: #8d7bf5;
}

.select:focus {
    outline: none;
}


.Processing {
    cursor: pointer;
    border: none;
    color: #FF4545;
    background-color: #ffffff;
    background-color: #ffc6c6;
}

.Deliverd {
    cursor: pointer;
    border: none;
    color: #009444;
    background-color: #aaffd2;
}

.Shipping {
    cursor: pointer;
    border: none;
    color: #ffa600;
    background-color: #ffe6b8;
}

.status_Container {
    margin-right: 50px;
}

#select1 {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
}

#select1:focus {
    outline: none;
}

.order_list_card_body {
    height: 300px;
    overflow-y: scroll;
}

.loading_spin {
    width: 50px;
    height: 50px
}

.see_more {
    margin-right: 50px;
}

@media only screen and (max-width: 991px) {
    .right_inside_container {
        padding: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .see_more {
        margin-right: 10px;
    }
    .status_Container {
        margin-right: 10px;
    }
}